html {
    background-image: url('/images/theater-screen.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 180px;
    margin-right: 20px;
}

h1 {
    font-family: 'Limelight', sans-serif;
    font-size: 9rem;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300px;
    margin-bottom: 0px;
}

header p {
    font-family: 'Limelight', sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: lighter;
    max-width: 47rem;
    margin: 20px auto;
}

.bttn-and-descrip {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 3rem;
}

button {
    padding: 1rem;
    border-radius: 1rem;
    background: #C0C0C0;
}

.button-1, .button-2, .button-3 {
    border: 2px solid red;
    border-radius: 1rem;
    text-align: center;
    padding: 1.5rem;
    color: #f5f5f5;	
    background: radial-gradient( 
      hsla(0, 90%, 45%, 1) 0%,
      hsla(359, 73%, 39%, 1) 50%, 
      hsla(0, 3%, 8%, 1) 100%
    );
}
